---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="who am I"
	pubDate={new Date('1/17/2024')}
>
	<p>
		20 years old developer from Croatia.
	</p>

<p>
	Likes reading, and tring to achieve total focus in today's world, where social media is rotting people's brains.
</p>
	
</Layout>
